#icon img{
    visibility: hidden;  
}


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 750px) { 
    p{
        background-color:aqua;
    }
    #icon img{
        visibility: visible;
        margin-right: 5px;
        margin-bottom: 5px;
    }  
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    p{
        background-color: lightcoral;
    }
 }


/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    p{
        background-color: lightseagreen;
    }

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    p{
        background-color: lightyellow;
    }
 }